<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>source</th>
        </tr>
        {% for article in articles %}
        <tr>
            <td>
                {{article["title"]}}
            </td>
            <td>
                {{article["source"]['name']}}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>